body {
    font-family: Arial, sans-serif;
}

body {
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    width: 100%;
}

nav ul {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    {/*color: white; TODO*/}
    position: relative;
}

nav a::after {
    content: url('assets/ui/menu_bullet.gif');
    position: absolute;
    bottom: -20px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

nav a:hover::after {
    opacity: 1;
}

h1 {
    font-size: 2em;
    font-style: italic;
}

h1 a {
    font-size: 1.5em;
    display: block;
}

.headerBg {
    background: #3c1f0a;
}

.genericSection article {
    border-bottom: 1px dotted;
}

#aboutSub {
    background: #656565;
}

.linkSection dl {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.resultsTable {
    border: 3px solid #000000;
    border-spacing: 5px;
    border-collapse: separate;
    text-align: center;
    width: 70%;
}

.resultsTable td {
    background-color: #d5a17c;
    border-top: 2px dotted #000000;
    border-left: 2px dotted #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.resultsTableName {
    text-align: left;
}

.resultsTableData td {
    background-color: white;
    border-top: 2px solid #000000;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #656565;
}

.linkSection {
    background: #3c1f0a;
    width: 100%;
}