html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: white;
}

a {
    white-space: nowrap;
}

nav {
    width: auto;
    align-content: flex-start;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    position: relative;
    color: white;
}

nav a::after {
    content: url('assets/ui/menu_bullet.gif');
    position: absolute;
    bottom: -20px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

nav a:hover::after {
    opacity: 1;
}

h1 {
    padding: 20px;
    font-size: 2em;
    font-style: italic;
    color: #b15e23;
}

h1 a {
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    color: white;
}

.headerBg {
    background: #3c1f0a;
}

.introSection {
    background: linear-gradient(to bottom, white, #dadada);
    padding-bottom: 20px;
}

.linkSection dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 40%;
}

.linkSection dt, .linkSection dd {
    display: inline-block;
    margin-right: 10px;
}

.resultsTable {
    border: 3px solid #000000;
    border-spacing: 5px;
    border-collapse: separate;
    text-align: center;
    width: 70%;
}

.resultsTable td {
    background-color: #d5a17c;
    border-top: 2px dotted #000000;
    border-left: 2px dotted #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.resultsTableName {
    text-align: left;
}

.resultsTableData td {
    background-color: white;
    border-top: 2px solid #000000;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #656565;
}

.linkSection {
    background: #3c1f0a;
    width: 100%;
}

h1, nav {
    margin: 0 20%;
}

section {
    margin: 0 20%;
}

h2 {
    font-size: 1.5em;
    color: #b15e23;
}

h3 a {
    text-decoration: none;
    color: black;
}

.genericSection article h3 {
    border-bottom: 1px dotted #b15e23;
}

.linkSection {
    padding-top: 10px;
}

.linkSection h2, dt {
    color: white;
}

.linkSection dd a {
    text-decoration: none;
    color: #d5a17c;
}

.linkSection ul li a {
    text-decoration: none;
    color: #d5a17c;
}

.linkSection ul li {
    list-style-type: none;
}

.linkSection ul li::before {
    content: url('assets/ui/footer_list_bullet.gif');
    position: relative;
    left: -20px;
}